Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, pyright

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

pyright:
  name: pyright
  entry: uv run --no-sync pyright
  language: system

make klu backend work with new klujax (#107)
  nbs/examples/02_all_pass_filter.ipynb
  pyproject.toml
  src/sax/backends/klu.py
Due: nbclean, pyright

Bump version from 0.16.14 to 0.17.0
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.17.0
  CHANGELOG.md
Due: none

fix(klu): keep topology indices in numpy so nested sax.circuit traces cleanly
  src/sax/backends/klu.py
Due: pyright

Fix model lookup for numbered component variants in recursive netlists
  src/sax/circuits.py
  src/tests/test_circuit.py
Due: pyright

fix: add xarray[io] extra for netCDF support
  pyproject.toml
Due: none

fix: add xarray[io] extra for netCDF support (#123)
  pyproject.toml
Due: none

fix: reject complex RF dielectric parameters
  src/sax/models/rf.py
  src/tests/test_rf_dielectric_inputs.py
Due: pyright

fix: reject complex RF dielectric parameters (#125)
  src/sax/models/rf.py
  src/tests/test_rf_dielectric_inputs.py
Due: pyright

Path conditions:
  nbclean: any of: \.(ipynb)$
  pyright: any of: \.(py)$
