Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --no-sync pyright
        language: system
        files: \.(py)$

Bump to 0.15.17
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.17
  CHANGELOG.md
Due: none

more netlist patching for array instances
  src/sax/circuits.py
Due: pyright

Bump to 0.15.18
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.18
  CHANGELOG.md
Due: none

add probes feature for circuit measurement taps
  PLAN_probes.md
  nbs/examples/14_probes.ipynb
  src/sax/circuits.py
  src/sax/models/__init__.py
  src/sax/models/probes.py
  src/sax/netlists.py
  src/tests/test_probes.py
Due: nbclean, pyright

update probes notebook
  nbs/examples/14_probes.ipynb
Due: nbclean

update notebooks
  nbs/examples/01_quick_start.ipynb
  nbs/examples/04_multimode_simulations.ipynb
  nbs/examples/05_thinfilm.ipynb
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/07_layout_aware.ipynb
  nbs/examples/08_sparse_coo.ipynb
  pyproject.toml
Due: nbclean

Bump version from 0.15.18 to 0.16.0
  README.md
  justfile
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update release workflow
  .github/workflows/release.yml
Due: none

fix notebooks
  nbs/examples/07_layout_aware.ipynb
  nbs/internals/02_circuit.ipynb
  pyproject.toml
Due: nbclean

another update
  .github/workflows/release.yml
Due: none

fix version
  pyproject.toml
Due: none

better merging of dicts
  src/sax/circuits.py
  src/sax/utils.py
Due: pyright

Bump to 0.15.19
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

bump to 0.16.1
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

relax jax dependency
  pyproject.toml
Due: none

Bump version from 0.16.1 to 0.16.2
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.2
  CHANGELOG.md
Due: none

allow having netlists without ports
  src/sax/saxtypes/netlist.py
Due: pyright

add probes to unconnected ports too
  src/sax/netlists.py
  src/tests/test_probes.py
Due: pyright

remove md
  PLAN_probes.md
Due: none

switch to ty
  .pre-commit-config.yaml
  src/sax/backends/additive.py
  src/sax/circuits.py
  src/sax/fit.py
  src/sax/interpolation.py
  src/sax/models/factories.py
  src/sax/models/rf.py
  src/sax/s.py
  src/sax/saxtypes/multimode.py
  src/sax/utils.py
Due: pyright

use type keyword
  .pre-commit-config.yaml
  nbs/examples/01_quick_start.ipynb
  nbs/examples/05_thinfilm.ipynb
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/07_layout_aware.ipynb
  nbs/examples/08_sparse_coo.ipynb
  nbs/examples/12_data_parsers.ipynb
  pyproject.toml
  src/sax/fit.py
  src/sax/ports.py
  src/sax/saxtypes/anymode.py
  src/sax/saxtypes/core.py
  src/sax/saxtypes/into.py
  src/sax/saxtypes/multimode.py
  src/sax/saxtypes/netlist.py
  src/sax/saxtypes/settings.py
  src/sax/saxtypes/singlemode.py
  src/sax/utils.py
Due: nbclean, pyright

remove type: ignore comments
  src/sax/circuits.py
  src/sax/fit.py
  src/sax/interpolation.py
  src/sax/models/factories.py
  src/sax/models/rf.py
  src/sax/saxtypes/core.py
  src/sax/utils.py
Due: pyright

add some exclusions
  src/sax/saxtypes/netlist.py
Due: pyright

absolute imports
  src/sax/__init__.py
  src/sax/backends/__init__.py
  src/sax/circuits.py
  src/sax/loss.py
  src/sax/models/__init__.py
  src/sax/models/bends.py
  src/sax/models/mmis.py
  src/sax/multimode.py
  src/sax/parsers/__init__.py
  src/sax/parsers/lumerical.py
  src/sax/s.py
  src/sax/saxtypes/__init__.py
  src/sax/saxtypes/anymode.py
  src/sax/saxtypes/core.py
  src/sax/saxtypes/into.py
  src/sax/saxtypes/multimode.py
  src/sax/saxtypes/netlist.py
  src/sax/saxtypes/settings.py
  src/sax/saxtypes/singlemode.py
  src/sax/utils.py
Due: pyright

more fixes
  src/sax/fit.py
  src/sax/models/straight.py
  src/sax/saxtypes/core.py
  src/sax/utils.py
Due: pyright

fix more pyright errors
  src/sax/__init__.py
  src/sax/circuits.py
  src/sax/fit.py
  src/sax/interpolation.py
Due: pyright

use pyright still
  .pre-commit-config.yaml
Due: none

Bump to 0.16.3
  README.md
  pyproject.toml
  src/sax/__init__.py
  src/sax/circuits.py
Due: pyright

update changelog for 0.16.3
  CHANGELOG.md
Due: none

relax type restriction on netlist argument of circuit
  src/sax/circuits.py
Due: pyright

Bump version from 0.16.3 to 0.16.4
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.4
  CHANGELOG.md
Due: none

update pyproject.toml
  pyproject.toml
Due: none

refactor to allow multiply connected ports
  src/sax/backends/additive.py
  src/sax/backends/filipsson_gunnar.py
  src/sax/backends/forward_only.py
  src/sax/backends/klu.py
  src/sax/circuits.py
  src/sax/netlists.py
Due: pyright

support multi-port nets
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/14_probes.ipynb
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
  pyproject.toml
Due: nbclean
