Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, pyright

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

pyright:
  name: pyright
  entry: uv run --no-sync pyright
  language: system

Add neural fit surface models (#59)
  docs/fit.md
  docs/post_process.py
  justfile
  mkdocs.yml
  nbs/examples/10_wavelength_dependent_neff.ipynb
  nbs/examples/12_surface_models.ipynb
  pyproject.toml
  src/sax/__init__.py
  src/sax/fit.py
  src/sax/interpolation.py
Due: nbclean, pyright

Bump to 0.15.8
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.8
  CHANGELOG.md
Due: none

rename preprocess.py
  docs/preprocess.py
  justfile
Due: pyright

add preprocessor
  docs/__init__.py
  docs/mkdocs_sax_preprocessor.py
  justfile
  mkdocs.yml
Due: pyright

add hooks
  docs/hooks.py
  docs/mkdocs_sax_preprocessor.py
  mkdocs.yml
Due: pyright

add all mkdocs hooks
  docs/hooks.py
  docs/mkdocs_sax_preprocessor.py
  mkdocs.yml
  nbs/examples/12_surface_models.ipynb
  pyproject.toml
  src/sax/utils.py
  src/tests/nbs/01_utils.ipynb
Due: nbclean, pyright

add svgbob noop handler
  docs/hooks.py
  src/sax/models/bends.py
  src/sax/models/couplers.py
Due: pyright

svgbob handler
  docs/assets/svgbob/.gitignore
  docs/hooks.py
Due: pyright

remove preprocess.py
  docs/preprocess.py
Due: pyright

svgbob is being rendered
  docs/hooks.py
Due: pyright

update github workflows
  .github/workflows/docs.yml
Due: none

update model docstrings
  docs/__init__.py
  docs/hooks.py
  pyproject.toml
  src/sax/constants.py
  src/sax/models/bends.py
  src/sax/models/couplers.py
  src/sax/models/crossings.py
  src/sax/models/factories.py
  src/sax/models/mmis.py
  src/sax/models/splitters.py
  src/sax/models/straight.py
Due: pyright

prettier plots
  docs/hooks.py
  src/sax/models/mmis.py
Due: pyright

think about the dark theme
  docs/hooks.py
  src/sax/models/straight.py
Due: pyright

fix pyright
  src/sax/backends/additive.py
Due: pyright

fix netlist validation
  pyproject.toml
  src/sax/fit.py
  src/sax/saxtypes/netlist.py
  src/sax/saxtypes/singlemode.py
Due: pyright

better validators for netlist types
  src/sax/saxtypes/core.py
  src/sax/saxtypes/netlist.py
Due: pyright

better recursive netlist validation
  nbs/examples/Untitled.ipynb
  pyproject.toml
  src/sax/netlists.py
  src/sax/saxtypes/netlist.py
  src/tests/test_circuit.py
Due: nbclean, pyright

forgot to clean up
  nbs/examples/Untitled.ipynb
  src/sax/netlists.py
Due: nbclean, pyright

Bump to 0.15.9
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.9
  CHANGELOG.md
Due: none

admonitions
  docs/hooks.py
  justfile
  nbs/examples/01_quick_start.ipynb
  nbs/examples/02_all_pass_filter.ipynb
  nbs/examples/03_circuit_from_yaml.ipynb
  nbs/examples/09_forward_only_backend.ipynb
  nbs/examples/10_wavelength_dependent_neff.ipynb
  nbs/examples/12_surface_models.ipynb
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
Due: nbclean, pyright

enable code copy
  mkdocs.yml
Due: none

parse routes as nets
  justfile
  src/sax/saxtypes/netlist.py
Due: pyright

Bump to 0.15.10
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.10
  CHANGELOG.md
Due: none

add lumerical data file parser
  docs/hooks.py
  docs/parsers.md
  mkdocs.yml
  pyproject.toml
  src/sax/__init__.py
  src/sax/circuits.py
  src/sax/parsers/__init__.py
  src/sax/parsers/lumerical.py
Due: pyright

experimental warning
  src/sax/__init__.py
  src/sax/parsers/lumerical.py
  src/sax/saxtypes/__init__.py
  src/sax/saxtypes/custom_warnings.py
Due: pyright

initial parser example notebook
  mkdocs.yml
  nbs/examples/12_data_parsers.ipynb
  nbs/examples/13_surface_models.ipynb
Due: nbclean

fix cross-refs interfering with js
  docs/hooks.py
  justfile
Due: pyright

improve interpolation
  nbs/examples/12_data_parsers.ipynb
  src/sax/interpolation.py
  src/sax/parsers/lumerical.py
Due: nbclean, pyright

stype to df
  nbs/examples/12_data_parsers.ipynb
  src/sax/interpolation.py
Due: nbclean, pyright

touchstone mentioned.
  nbs/examples/12_data_parsers.ipynb
  pyproject.toml
  src/sax/parsers/__init__.py
  src/sax/parsers/touchstone.py
Due: nbclean, pyright

Bump to 0.15.11
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.11
  CHANGELOG.md
Due: none

fix ci
  justfile
  src/sax/saxtypes/multimode.py
Due: pyright

improve parsers
  docs/parsers.md
  mkdocs.yml
  nbs/examples/12_data_parsers.ipynb
  src/sax/__init__.py
  src/sax/interpolation.py
  src/sax/parsers/__init__.py
  src/sax/parsers/lumerical.py
  src/sax/parsers/touchstone.py
  src/sax/utils.py
Due: nbclean, pyright

Bump to 0.15.12
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.12
  CHANGELOG.md
Due: none

Path conditions:
  nbclean: any of: \.(ipynb)$
  pyright: any of: \.(py)$
