Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --no-sync pyright
        language: system
        files: \.(py)$

ad multiply connected notebook
  nbs/examples/15_multi_link.ipynb
Due: nbclean

improve notebook
  nbs/examples/15_multi_link.ipynb
Due: nbclean

Bump version from 0.16.4 to 0.16.5
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.5
  CHANGELOG.md
Due: none

refactor circuit analyze for klu backend
  src/sax/backends/klu.py
Due: pyright

Update rf models from qpdk
  src/sax/models/rf.py
Due: pyright

Refactor development dependencies into logical groups
  justfile
  pyproject.toml
Due: none

progress
  nbs/examples/01_quick_start.ipynb
  nbs/examples/02_all_pass_filter.ipynb
  nbs/examples/03_circuit_from_yaml.ipynb
  nbs/examples/04_multimode_simulations.ipynb
  nbs/examples/05_thinfilm.ipynb
  nbs/examples/06_additive_backend.ipynb
  nbs/examples/07_layout_aware.ipynb
  nbs/examples/08_sparse_coo.ipynb
  nbs/examples/09_forward_only_backend.ipynb
  nbs/examples/10_wavelength_dependent_neff.ipynb
  nbs/examples/11_hierarchical_circuits.ipynb
  nbs/examples/12_data_parsers.ipynb
  nbs/examples/13_surface_models.ipynb
  nbs/examples/14_probes.ipynb
  nbs/examples/15_multi_link.ipynb
  nbs/internals/01_models.ipynb
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
  nbs/internals/04_all_models.ipynb
Due: nbclean

fix probes: take into account the nets
  nbs/examples/14_probes.ipynb
  src/sax/netlists.py
  src/tests/nbs/01_utils.ipynb
  src/tests/nbs/03_backends.ipynb
  src/tests/test_probes.py
Due: nbclean, pyright

Bump to 0.16.6
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.6
  CHANGELOG.md
Due: none

Refactor development dependencies into logical groups (#87)
  justfile
  pyproject.toml
Due: none

Update rf models from qpdk (#85)
  src/sax/models/rf.py
Due: pyright

fix tests
  src/sax/netlists.py
  src/tests/nbs/03_backends.ipynb
Due: nbclean, pyright

fix tests
  src/sax/models/rf.py
  src/tests/test_rf_models.py
Due: pyright

Add failing example circuit of an LC shunt (#76)
  src/sax/models/rf.py
  src/tests/test_rf_models.py
Due: pyright

Bump version from 0.16.6 to 0.16.7
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.7
  CHANGELOG.md
Due: none

Interpret ports on internal nodes as probes
  nbs/examples/14_probes.ipynb
  src/sax/circuits.py
  src/sax/netlists.py
  src/tests/test_probes.py
Due: nbclean, pyright

Fix pyright errors: add overloads for extract_port_probes
  src/sax/netlists.py
Due: pyright

update notebook
  nbs/examples/14_probes.ipynb
Due: nbclean

Interpret ports on internal nodes as probes (#90)
  nbs/examples/14_probes.ipynb
  src/sax/circuits.py
  src/sax/netlists.py
  src/tests/test_probes.py
Due: nbclean, pyright

Bump version from 0.16.7 to 0.16.8
  README.md
  justfile
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.8
  CHANGELOG.md
Due: none

Support hierarchical probes with dot-separated paths
  nbs/examples/14_probes.ipynb
  src/sax/netlists.py
  src/tests/test_probes.py
Due: nbclean, pyright

Support hierarchical probes with dot-separated paths (#91)
  nbs/examples/14_probes.ipynb
  src/sax/netlists.py
  src/tests/test_probes.py
Due: nbclean, pyright

Bump version from 0.16.8 to 0.16.9
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.9
  CHANGELOG.md
Due: none

Implement test matrix for different OS
  .github/workflows/test.yml
Due: none

Disable fail-fast in test matrix
  .github/workflows/test.yml
Due: none

Remove flax dependency
  pyproject.toml
Due: none

Implement multi-OS testing matrix (#93)
  .github/workflows/test.yml
  pyproject.toml
Due: none

Bump version from 0.16.9 to 0.16.10
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.10
  CHANGELOG.md
Due: none

Add missing runtime dependencies (pandas, optax, tqdm)
  pyproject.toml
  src/tests/test_imports.py
Due: pyright

Add missing runtime dependencies (pandas, optax, tqdm) (#94)
  pyproject.toml
  src/tests/test_imports.py
Due: pyright

Bump version from 0.16.10 to 0.16.11
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.11
  CHANGELOG.md
Due: none

Fix portless sub-netlists and internal-port handling (#95, #96)
  src/sax/circuits.py
  src/sax/netlists.py
  src/tests/test_circuit.py
  src/tests/test_probes.py
Due: pyright
