Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v5.0.0"
    hooks:
      - id: check-added-large-files
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-yaml
        args: []
      - id: debug-statements
      - id: end-of-file-fixer
        exclude: 'changelog\.d/.*|CHANGLEOG\.md'
      - id: mixed-line-ending
      - id: requirements-txt-fixer
      - id: trailing-whitespace
        args: [--markdown-linebreak-ext=md]
        exclude: 'changelog\.d/.*|CHANGELOG\.md'

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.5
    hooks:
      - id: ruff-format
        stages: [pre-commit]
        args: ["--config", "pyproject.toml"]
        types_or: [python, jupyter]
      - id: ruff
        stages: [pre-commit]
        args: ["--fix", "--config", "pyproject.toml"]
        types_or: [python]

  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.14.0
    hooks:
      - id: pretty-format-toml
        args: [--autofix]

  - repo: local
    hooks:
      - id: nbclean
        name: nbclean
        entry: just nbclean
        language: system
        files: \.(ipynb)$

  - repo: local
    hooks:
      - id: pyright
        name: pyright
        entry: uv run --no-sync pyright
        language: system
        files: \.(py)$

Add svgbob drawings for tee and lc_shunt_component
  src/sax/models/rf.py
Due: pyright

Add svgbob drawings for tee and lc_shunt_component (#98)
  src/sax/models/rf.py
Due: pyright

update docs
  pyproject.toml
  src/sax/interpolation.py
Due: pyright

fix notebooks
  nbs/examples/14_probes.ipynb
Due: nbclean

Fix portless sub-netlists and internal-port handling (#97)
  nbs/examples/14_probes.ipynb
  pyproject.toml
  src/sax/circuits.py
  src/sax/interpolation.py
  src/sax/netlists.py
  src/tests/test_circuit.py
  src/tests/test_probes.py
Due: nbclean, pyright

Bump version from 0.16.11 to 0.16.12
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.12
  CHANGELOG.md
Due: none

fix probes
  src/sax/netlists.py
  src/tests/test_probes.py
Due: pyright

Bump version from 0.16.12 to 0.16.13
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.13
  CHANGELOG.md
Due: none

Add analytical CPW and microstrip RF models
  docs/models_rf.md
  docs/references.bib
  pyproject.toml
  src/sax/constants.py
  src/sax/models/rf.py
  src/tests/test_rf_cpw.py
  src/tests/test_rf_microstrip.py
Due: pyright

Add a pre-commit hook for tidying .bib
  .pre-commit-config.yaml
Due: none

Tidy the BibTeX file
  docs/references.bib
Due: none

Fix long lines in rf models docstrings
  src/sax/models/rf.py
Due: pyright

Add bibtex-tidy pre-commit hook (#101)
  .pre-commit-config.yaml
  docs/references.bib
Due: none

Add RF waveguide models for CPW and Microstrips (#100)
  docs/models_rf.md
  docs/references.bib
  pyproject.toml
  src/sax/constants.py
  src/sax/models/rf.py
  src/tests/test_rf_cpw.py
  src/tests/test_rf_microstrip.py
Due: pyright

fix transpose
  src/sax/models/factories.py
  src/sax/multimode.py
  src/sax/s.py
  src/sax/saxtypes/singlemode.py
  src/tests/nbs/00_typing.ipynb
  src/tests/nbs/02_multimode.ipynb
  src/tests/test_smatrix_convention.py
Due: nbclean, pyright

pre-commit
  docs/references.bib
  src/sax/saxtypes/singlemode.py
  src/tests/test_smatrix_convention.py
Due: pyright

add more models
  src/sax/models/__init__.py
  src/sax/models/isolators.py
  src/sax/models/reflectors.py
  src/sax/models/rf.py
  src/sax/models/terminators.py
Due: pyright

better plots
  nbs/examples/13_surface_models.ipynb
Due: nbclean

add xlabel and ylabel
  nbs/examples/11_hierarchical_circuits.ipynb
Due: nbclean

pre-commit
  docs/references.bib
  nbs/examples/11_hierarchical_circuits.ipynb
  nbs/examples/13_surface_models.ipynb
Due: nbclean

better plots (#104)
  docs/references.bib
  nbs/examples/11_hierarchical_circuits.ipynb
  nbs/examples/13_surface_models.ipynb
Due: nbclean

fix ci
  .github/workflows/test.yml
Due: none

fix sdense and scoo format (#102)
  .github/workflows/test.yml
  src/sax/models/factories.py
  src/sax/multimode.py
  src/sax/s.py
  src/sax/saxtypes/singlemode.py
  src/tests/nbs/00_typing.ipynb
  src/tests/nbs/02_multimode.ipynb
  src/tests/test_smatrix_convention.py
Due: nbclean, pyright

fix pre-commit
  src/sax/models/isolators.py
Due: pyright

add more models (#103)
  src/sax/models/__init__.py
  src/sax/models/isolators.py
  src/sax/models/reflectors.py
  src/sax/models/rf.py
  src/sax/models/terminators.py
Due: pyright

Bump version from 0.16.13 to 0.16.14
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.16.14
  CHANGELOG.md
Due: none

update dependencies
  pyproject.toml
Due: none

Bump to 0.15.20
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

pin versions
  pyproject.toml
Due: none

fix matplotlib
  pyproject.toml
Due: none

add codeowners
  .github/CODEOWNERS
  pyproject.toml
Due: none

Add coverage configuration and CI job
  .codecov.yml
  .coveragerc
  .github/workflows/test.yml
  justfile
Due: none

make klu backend work with new klujax
  nbs/examples/02_all_pass_filter.ipynb
  pyproject.toml
  src/sax/backends/klu.py
Due: nbclean, pyright

Add coverage configuration and CI job (#106)
  .codecov.yml
  .coveragerc
  .github/workflows/test.yml
  justfile
Due: none

add upper limits for deps
  pyproject.toml
Due: none

add upper limits for deps (#108)
  pyproject.toml
Due: none

update klujax dep
  pyproject.toml
Due: none
