Repository flaport/sax: changes, and which pre-commit hooks are due for each by the changed paths.
All: nbclean, pyright

nbclean:
  name: nbclean
  entry: just nbclean
  language: system

pyright:
  name: pyright
  entry: uv run --no-sync pyright
  language: system

fix bandwidth for gc
  src/sax/models/couplers.py
Due: pyright

Bump to 0.15.13
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.13
  CHANGELOG.md
Due: none

fix change template
  .github/release-drafter.yml
Due: none

placement parameter for model
  src/sax/__init__.py
  src/sax/circuits.py
  src/sax/saxtypes/__init__.py
  src/sax/saxtypes/netlist.py
Due: pyright

Bump to 0.15.14
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.14
  CHANGELOG.md
Due: none

update .gitignore
  .gitignore
Due: none

fix notebook
  nbs/examples/02_all_pass_filter.ipynb
Due: nbclean

fix docs
  nbs/internals/02_circuit.ipynb
  nbs/internals/03_backends.ipynb
  pyproject.toml
Due: nbclean

support unpack (3.13 only)
  src/sax/utils.py
Due: pyright

same args as decorator
  src/sax/__init__.py
  src/sax/utils.py
Due: pyright

Bump to 0.15.15
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.15
  CHANGELOG.md
Due: none

Implement initial generic RF models
  src/sax/models/rf.py
Due: pyright

Add simple unit tests for RF models
  src/tests/test_rf_models.py
Due: pyright

Restore `@validate_call` usage in rf.py and use more Sax types
  src/sax/models/rf.py
Due: pyright

Add footnotes to markdown extensions
  mkdocs.yml
Due: none

Remove `rf_models.md`
  docs/rf_models.md
  mkdocs.yml
Due: none

Expose `sax.models.rf` in `sax.models`
  src/sax/models/__init__.py
Due: pyright

Revert "Expose `sax.models.rf` in `sax.models`"
  src/sax/models/__init__.py
Due: pyright

Separate models.rf API docs
  docs/models_rf.md
  mkdocs.yml
Due: none

Fix documentation build
  docs/models_rf.md
  docs/references.bib
  src/sax/models/__init__.py
  src/sax/models/rf.py
Due: pyright

No complex-valued static arguments for RF models
  src/sax/models/rf.py
Due: pyright

Fix impedance and admittance tests not using frequency
  src/tests/test_rf_models.py
Due: pyright

Specify dev. deps. in `just test` command
  .github/workflows/test.yml
  justfile
Due: none

Better port definition docstring
  src/sax/saxtypes/netlist.py
Due: pyright

Add n-port electrical short and open
  src/sax/models/rf.py
Due: pyright

Add tests for electrical open and short
  src/tests/test_rf_models.py
Due: pyright

Parametrize short and open tests for number of ports
  src/tests/test_rf_models.py
Due: pyright

update ruff
  pyproject.toml
Due: none

Add example LC shunt model test
  src/tests/test_rf_models.py
Due: pyright

Use `f.shape` as opposed to `len(f)` for jitted RF
  src/sax/models/rf.py
Due: pyright

add testfile
  justfile
  src/sax/fit.py
  src/tests/lum/spar_straight_dc_7_um_600_nm.dat
  src/tests/test_lum.py
Due: pyright

fix lumerical parser
  src/sax/parsers/lumerical.py
Due: pyright

pre-commit
  nbs/examples/12_data_parsers.ipynb
  src/sax/fit.py
  src/tests/test_lum.py
Due: nbclean, pyright

Bump to 0.15.16
  README.md
  pyproject.toml
  src/sax/__init__.py
Due: pyright

update changelog for 0.15.16
  CHANGELOG.md
Due: none

improve models
  src/sax/models/couplers.py
Due: pyright

update array instance parser
  src/sax/saxtypes/netlist.py
  src/tests/lum/spar_straight_dc_7_um_600_nm.dat
  src/tests/test_lum.py
Due: pyright

Path conditions:
  nbclean: any of: \.(ipynb)$
  pyright: any of: \.(py)$
